.TrendingFood {
  width: 100%;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.TrendingFood > p {
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0px  2px 5px;

}
.ItemsWrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
