header {
  background-color: #fcfaf7;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 12px 40px;
  border-bottom: 1px solid rgba(229, 232, 235, 1);
  @media (max-width: 991px) {
    flex-wrap: wrap;
    padding: 0 20px;
  }
}
.LogoWrapper {
  display: flex;
  align-items: center;
}
.LogoWrapper>img{
    width: 40px;
}
.BrandName {
  font-size: 18px;
  color: #1c120d;
  font-weight: 700;
  white-space: nowrap;
  letter-spacing: -0.27px;
  @media (max-width: 991px) {
    white-space: normal;
  }
}
nav {
  display: flex;
  gap: 20px;
  font-size: 14px;
  color: #1c120d;
  font-weight: 500;
  white-space: nowrap;
  line-height: 150%;
  padding: 10px 0;
  @media (max-width: 991px) {
    white-space: normal;
  }
}
nav > button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

nav > button::after {
  content: '';
  width: 0;
  height: 3px;
  background: #ed802b;
  position: absolute;
  left: 0;
  bottom: -4px;
  transition: width 0.5s ease-out;
}

nav > button:hover::after {
  width: 100%;
}

.Profile {
  display: flex;
  gap: 8px;
}
.Profile > button {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  font-size: 14px;
  color: #1c120d;
  font-weight: 500;
  background-color: #ed802b;
  border: none;
  border-radius: 12px;
}

.Profile > button:hover{
  background-color: #d85e02;
}

.Profile>img{
 width: 40px;
 cursor: pointer;
}
