.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    @media (max-width: 991px) {
      padding: 20 20px;
    }
}